:root {
    --ui-color: white;
    --warn-color: red;
    --bg-color: black;
    --padding: 30px;
}

body {
    position: relative;
    height: 100vh;
    font-family: "Trebuchet MS", "sans-serif";
    background-color: var(--bg-color);
}

.task {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: var(--padding);
    color: var(--ui-color);
    border: 1px solid var(--ui-color);
}

.results {
    position: absolute;
    left: 5%;
    bottom: 5%;
    color: var(--ui-color);
}

.num-mistakes {
    color: red;
}

.task-length {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 40px;
    color: var(--ui-color);
    background-color: var(--bg-color);
}