:root {
    --primary-color: floralwhite;
    --secondary-color: grey;
    --title-color: darkgoldenrod;
    --warn-color: red;
    --bg-color: #101010;
    --padding: 5%;
    --font-size-l: 48px;
}

body {
    position: relative;
    height: 100vh;
    font-family: Arial, serif;
    background-color: var(--bg-color);
}

/* center */

.task {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    font-size: var(--font-size-l);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.words-collection {
    position: absolute;
    left: 50%;
    bottom: var(--padding);
    transform: translateX(-50%);
    width: 75vw;
    color: var(--secondary-color);
    background-color: var(--bg-color);
}

/* left top */

.title {
    position: absolute;
    left: var(--padding);
    top: var(--padding);
    font-size: var(--font-size-l);
    color: var(--title-color);
}

.makes {
    position: absolute;
    left: var(--padding);
    top: calc(2 * var(--padding) + var(--font-size-l));
    width: 90%;
    color: var(--secondary-color);
}

/* right top */

.setup-box {
    position: absolute;
    right: var(--padding);
    top: var(--padding);
    display: flex;
    width: 550px;
}

.setup-item {
    display: flex;
    align-items: center;
    padding: var(--padding);
}

.setup-item > p {
    white-space: nowrap;
    color: var(--primary-color);
}

.task-length {
    width: 40px;
    height: 24px;
    color: var(--primary-color);
    background-color: var(--bg-color);
}

/* left bottom */

.results-tracker {
    position: absolute;
    left: var(--padding);
    bottom: var(--padding);
    color: var(--primary-color);
}

.num-mistakes {
    color: red;
}

/* right bottom */

.time-tracker {
    position: absolute;
    right: var(--padding);
    bottom: var(--padding);
    color: var(--primary-color);
}